  * {
      font-family: 'Poppins', sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  .container {
      max-width: 1200px;
      margin: auto;
      padding: 20px;
  }

  h1 {
      text-align: center;
      margin-bottom: 20px;
      color: #333333;
  }

  h2 {
      color: #3400ff;
      margin-bottom: 10px;
  }

  #userContainer {
      display: none;
      gap: 20px;
      align-items: center;
      flex-wrap: wrap;
      margin: auto;

  }

  .user-card {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      width: auto;
      flex: 1 1 300px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  #error {
      color: red;
      text-align: center;
      margin: 10px auto;
      display: none;
      font-size: 28px;
      font-weight: bold;
  }


  #loading {
      text-align: center;
      margin: 10px auto;
      display: none;
      font-size: 28px;
      font-weight: bold;
      text-align: center;
  }

  /* Search Input */
  .search-input {
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 5px;
      width: 100%;
      max-width: 400px;
      margin: 20px auto;
  }

  .search-input:focus {
      outline: none;
      border-color: #3400ff;
      box-shadow: 0 0 5px rgba(52, 0, 255, 0.5);
  }